.side_bar
  .side_bar__username
    .side_bar__username__box
      .side_bar__username__box__left
        = current_user.name
      .side_bar__username__box__right
        = link_to edit_user_path(current_user) , class: "iconedit" do
          %i.far.fa-edit
        = link_to  "#", class: "iconcog" do
          %i.fa.fa-cog
  
  .side_bar__grouplist
    .side_bar__grouplist__group
      .side_bar__grouplist__group__name
        あ
      .side_bar__grouplist__group__message
        メッセージありません
    
  